accelerate==1.13.0
datasets
deepspeed
func-timeout
huggingface-hub
jieba
jsonlines
matplotlib
nltk
notebook
numerize
numpy
pandas
peft==0.18.1
PyMySQL
rich
rouge-score
rouge-chinese
safetensors
scikit-learn
setuptools
sqlparse
tiktoken
torch==2.9.1
tqdm
transformers==4.57.3
trl==0.21.0
typer>=0.15.2
wandb
yq>=3.4.3
